@media screen{
    :root {
      --primary-color: #ad1010;
      --secondary-color: #537ba8;
      --tertiary-color: #c29a4f;
      --font-size-base: 16px;
      --font-family: 'Lexend', sans-serif;
      --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      --text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }

    html {
        height: 100%;
        width: 100%;
    }

    body {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .main-content {
        padding-top: 20px;
        height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center; 
        align-items: center;
	}

    .link {
		color: var(--secondary-color);
	}

    nav {
        position: fixed;
        width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	#left-nav-buttons {
		display: flex;
		justify-content: space-between;
        padding-left: 4px;
	}

	.left-nav-button {
		font-family: var(--font-family);
		font-size: 14pt;
        color: var(--secondary-color);
        background-color: white;
		padding: 4px 12px 4px 12px;
		border: none;
		margin: 4px;
        font-weight: 400;
		text-decoration: none;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 20px;
        border-top-right-radius: 8px;
        opacity: .5;
	}

	.left-nav-button:hover {
		opacity: 1;
		transition-duration: 0.8s;
	    box-shadow: var(--box-shadow);
	}

    .left-nav-button:active {
        transform: scale(1.1); /* Enlarge by 100% on click */
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
    }

      #right-nav-buttons {
        display: flex;
        justify-content: space-between;
        padding-right: 4px;
    }

    p {
		margin-top: 8px;
		margin-bottom: 8px;
        font-weight:200;
	}

    h1 {
        font-family: var(--font-family);
		margin-top: 0px;
		margin-bottom: 0px;
        margin-left: 0px; 
        margin-right: 0px;
        font-weight: 600;
        font-size: 44pt;
        color: var(--primary-color);
        text-shadow: var(--text-shadow);
	}

    h2 {
        font-family: var(--font-family);
        color: var(--secondary-color);
        font-size: 24pt;
        font-weight: 500;
        text-shadow: var(--text-shadow);
	}

    h3 {
        font-family: var(--font-family);
        font-weight: 500;
        text-shadow: var(--text-shadow);
	}

	h4 {
        font-family: var(--font-family);
		margin-top: 16px;
		margin-bottom: 16px;
	}

    #icon-button {
        color: transparent;
        border: none;
        border-radius: 25%;
        font-size: 40px;
        background-clip: text;
        background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        opacity: .8;
        text-shadow: var(--text-shadow);
    }

    #icon-button:hover {
        transition-duration: 1s;
        opacity: 1;
    }

    #icon-button:active {
        transform: scale(1.1); /* Enlarge by 100% on click */
        text-shadow:  0 4px 12px rgba(0, 0, 0, 0.5);
    }
}