@media screen{

	#home-button {
        color: white;
        background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        opacity: .8;
        box-shadow: var(--box-shadow);
	}

    #home-button:hover {
        transition-duration: 1s;
		opacity: 1;
    }

    .main-content {
		display: flex;
		justify-content: space-between; 
        align-items: center;
	}

    #current-activities-and-location {
        display: flex;
        justify-content: space-between;
        align-items: top;
        padding-right: 56px;
    }

    #portrait-img {
        height: 100%;
        object-fit: cover;
        border-bottom-right-radius: 64px;
        border-bottom-left-radius: 168px;
        border-top-left-radius: 64px;
        border-top-right-radius: 168px;
        box-shadow: var(--box-shadow);
    }

    #link-buttons {
        word-spacing: 4px;
    }
}