@media screen{

	#home-button {
        color: white;
        background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        opacity: .8;
        box-shadow: var(--box-shadow);
	}

    #home-button:hover {
        transition-duration: 1s;
		opacity: 1;
    }

    .main-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 104px;
        padding: 15% 10% 10% 15%;
	}

    .left-content {
		width: 40%;
		font-family: var(--font-family);
		padding: 0 16px;
		margin: 0 16px;
        display: flex;
        flex-direction: column;
		align-items: center;
        justify-content: space-evenly;
	}

    .right-content {
        width: 25%;
        height: 668px;
		font-family: var(--font-family);
		padding: 0 16px;
		display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
	}

    #portrait-img {
        height: 100%;
        object-fit: cover;
        border-radius: 64px 168px 64px 168px;
        box-shadow: var(--box-shadow);
    }

    #link-buttons {
        word-spacing: 4px;
        padding-bottom: 4px;
    }

    #edu-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
    }

    .edu-logo {
        height: 40px;
        object-fit: contain;
    }

    #work-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
    }

    .work-logo {
        height: 40px;
        object-fit: contain;
    }

    #second-row {
        gap: 102px;
    }
}